{% extends "base.html" %}
{% block title %}blog titles{% endblock %} 
{% block content %}
<div class="row text-center vertical-middle-sm">
	<h1>我的博客</h1>
</div>
<div class="row">
	<div class="col-xs-12 col-md-8">
		<ul>
			{% for blog in blogs %}
			<li>{{ blog.title }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>广告</h2>
		<p>GitHub:Redari-Es</p>
		<img width="200px" src="https://i1.hdslb.com/bfs/face/80393534ae4a590f4ff4e25e17f463ce92aeea32.jpg@128w_128h_1o.webp"
</div>
</div>
{% endblock %}
